
@{
    ViewData["Title"] = "Reset Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Reset your Password</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="POST" asp-action="ForgotPassword" asp-controller="Login">
            @Html.AntiForgeryToken()
            <div class="form-group">
                <label for="email" class="control-label">Email</label>
                <input required id="email" name="email" type="email" class="form-control" value="@ViewBag.Email" />
            </div>
            <div class="form-group">
                <input type="submit" value="Reset my Password" class="btn btn-primary" />
            </div>
        </form>

        @if (!string.IsNullOrEmpty(ViewBag.Error))
        {
            <div class="alert alert-danger" role="alert">
                @Html.Raw(ViewBag.Error)
            </div>
        }
        @if (!string.IsNullOrEmpty(ViewBag.Success))
        {
            <div class="alert alert-success" role="alert">
                @Html.Raw(ViewBag.Success)
            </div>
        }
    </div>
</div>

