@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Login</h1>
<hr />
<div class="row">
    <div class="col-md-5">
        @if (TempData["SignUp"] != null && !string.IsNullOrEmpty(TempData["SignUp"].ToString()))
        {
            <p class="alert alert-success" role="alert">@TempData["SignUp"]</p>
        }

        <form method="POST" action="Login">
            @Html.AntiForgeryToken()
            <div class="form-group">
                <label for="email" class="control-label">Email</label>
                <input id="email" name="email" type="email" class="form-control" value="@ViewBag.Email" />
            </div>
            <div class="form-group">
                <label for="password" class="control-label">Password</label>
                <input id="password" name="password" type="password" class="form-control" />
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-lg-3">
                        <button type="submit" class="btn btn-primary"><i class='fas fa-sign-in-alt'></i> Login</button>
                    </div>
                    <div class="col-lg-9 mt-2">
                        <a asp-action="ForgotPassword" asp-controller="Login" class="align-middle">Forgot your Password?</a>
                    </div>
                </div>
                <div class="row pt-3 ml-1">
                    <a asp-action="Google" asp-controller="Login" class="btn btn-outline-primary" name="Google"><i class="fab fa-google"></i> Login with Google</a>
                </div>
                
            </div>
        </form>

        @if (!string.IsNullOrEmpty(ViewBag.Message))
        {
            <div class="alert alert-danger" role="alert">
                @ViewBag.Message
            </div>
        }
    </div>
</div>

@*<div>
        <a asp-action="Index">Back to List</a>
    </div>*@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
