@using System.Security.Claims 
@using DAOLibrary.Repository.Object
@using DAOLibrary.Repository.Interface 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Clothes Shopping</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    @* Font Awesome v5.15 *@
    <link href="~/lib/fontawesome/css/all.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" />

    <style>
        .dataTables_filter {
            float: right !important;
        }
    </style>
</head>
<body>
    @{
        IUserRepository userRepository = new UserRepository();
            }
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom box-shadow mb-3 fixed-top">
            <div class="container">

                <a class="navbar-brand bold" asp-area="" asp-controller="Home" asp-action="Index">Clothes Shopping</a>
                
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse justify-content-between">
                    <ul class="navbar-nav ml-auto">
                        @if (User.Claims.FirstOrDefault(cl => cl.Type == ClaimTypes.Email) != null)
                        { // Login User
                            <li class="nav-item ml-3">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            @if (User.Claims.FirstOrDefault(c => c.Type.Equals(ClaimTypes.Role)).Value.Equals("User"))
                            { // Normal User

                            }
                            else if (User.Claims.FirstOrDefault(c => c.Type.Equals(ClaimTypes.Role)).Value.Equals("Admin"))
                            { // Admin
                                <li class="nav-item ml-3">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Categories" asp-action="Index">Category</a>
                                </li>
                                <li class="nav-item ml-3">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Products" asp-action="Index">Product</a>
                                </li>
                                <li class="nav-item ml-3">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Users" asp-action="Index">Account</a>
                                </li>
                                <li class="nav-item ml-3">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Orders" asp-action="Index">Order</a>
                                </li>

                            }

                            string email = User.Claims.FirstOrDefault(cl => cl.Type == ClaimTypes.Email).Value;
                            DTOLibrary.User loginUser = userRepository.GetUser(email);

                            <li class="nav-item ml-3">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Logout" asp-action="Index">Log out</a>
                            </li>
                            <li class="nav-item ml-3">
                                <a class="nav-link text-dark" asp-controller="@loginUser.RoleNavigation.RoleName" asp-action="Index">
                                    <i class="fas fa-user"></i> Welcome, @loginUser.FullName
                                </a>
                            </li>
                        }
                        else
                        { // Not Login User
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Guest" asp-action="Index">Shopping</a>
                            </li>
                            <li class="nav-item ml-3">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Login" asp-action="Index">Log in</a>
                            </li>
                            <li class="nav-item ml-3">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Signup" asp-action="Index">Sign up</a>
                            </li>
                            <li class="nav-item ml-3">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Cart" asp-action="Index">
                                    <span style="font-size: 1.5em; color: Tomato;">
                                        <i class="fas fa-shopping-cart"></i>
                                    </span>
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="wrapper px-5 py-5">
        <main role="main" class="pb-3 my-5">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - ClothesShoppingWebApp - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
