@{
    ViewData["Title"] = "Home Page";
}
@using Microsoft.AspNetCore.Http

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    @{
        IHttpContextAccessor _httpContextAccessor = new HttpContextAccessor();
        string userId = _httpContextAccessor.HttpContext.User.Claims.Single(cl => cl.Type.Equals("UserId")).Value;
        <p>@userId</p>
    }
</div>
