@{
    ViewData["Title"] = "Home Page";
}
@using Microsoft.AspNetCore.Http
@using System.Security.Claims

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>@User.FindFirst(ClaimTypes.Email).Value</p>
    @*<p>@User.FindFirst(ClaimTypes.Role).Value</p>*@
</div>
